/*******************************************************************************
                       Min 768px
*******************************************************************************/
@media (min-width: 768px){
.woodly-main-header {
    padding: 15px 50px;
}
}

/*******************************************************************************
                       Max 768px
*******************************************************************************/
@media (max-width: 768px)
{
    .woodly__home_two-category-box-style-two{
        width:100%;
    }
}
/*******************************************************************************
                       Min 599px
*******************************************************************************/
@media only screen and (max-width: 599px) {
    .woodly_home_two_product-content {
        max-width: inherit;
    }
    
}
/*******************************************************************************
                       Min 1036px
*******************************************************************************/
@media (min-width: 1036px) {

    .d-customL-none,
    .saasplate-mobile-menu.d-customL-none {
        display: none !important;
    }
    .d-block.d-customL-none{
         display: none !important;
    }

    .d-customL-block,
    .navbar.d-customL-block {
        display: block !important;
    }
}